
#mainMenu_table td {
    font: 11px arial;
    height: 27px;
    padding-right: 1px;
}
#mainMenu_table td a {
    margin: 0 1px 0 0;
    padding: 4px 10px;
    background: #7E94BD;
    color: #FFFFFF;
    font-style: bold;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    cursor: hand;
    white-space:nowrap;
    width: 110px;
}
#mainMenu_table td div {position:relative}
#mainMenu_table td:hover > div > ul.subMenu {display:block}
 
ul.subMenu {
  left: 0;
  top: 0;
  display: none;
  visibility: visible;
  overflow: visible;
  list-style: none;
}
ul.subMenu li {
  white-space:nowrap;
}
ul.subMenu ul {
  position:absolute;
  visibility: visible;
  left:100%;
              top:0;
}
ul.subMenu li:hover {position:relative;}
ul.subMenu li:hover > ul {display:block;}
 
 
.subMenu {
  position: absolute;
  visibility: hidden;
  display: block;
  overflow: auto;
  font-size: 1px;
  margin: 0px;
}
div.subMenu, table.subMenu .subContent,ul.subMenu {
  border: solid #000C80;
  border-width: 1px;
  background-color: #D7E5FB;
  padding: 1px;
  opacity:1.00;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.subMenu table {
  border-collapse: separate;
  border-spacing: 0px;
}
.subMenu table tr, ul.subMenu li, ul.subMenu .separator:hover {
  font-size: 1px;
  cursor: pointer;
  background-color: #D7E5FB;  
}
.subMenu tr.over, ul.subMenu li:hover {
  background-color: #FFF2C8;
}
.subMenu table td, ul.subMenu li, ul.subMenu .separator:hover {
  border: solid #D7E5FB;
  border-width: 1px;
  padding: 2px;
  text-align: left;
}
.subMenu tr.over td , ul.subMenu li:hover {
  border-color: #000C80;
}
.subMenu td a , .subMenu td span ,ul.subMenu a {
  font-family: Tahoma;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}
.subMenu tr.over a, .subMenu tr.over span {
  font-family: Tahoma;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}
ul.subMenu li:hover > a {
  font-family: Tahoma;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}
.subMenu tr.popup {
  background-color: #FFF2C8;
}
.subMenu tr.popup td {
  border-color: #000C80;
}
.subMenu tr.popup a, .subMenu tr.popup a {
  font-family: Tahoma;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}
