.icji-prompt-button {
    background-image: url(./images/icons-18-black.png);
    cursor: pointer;
    display: block;
    height: 18px;
    text-indent:-9999px;
    width: 18px;
}
.icji-prompt-button-close-up {
    background-position: -216px 50%;
}
.icji-prompt-button-open-down {
    background-position: -180px 50%;
}
